.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 20px 35px 0px;
  font-family: "Cabinet Grotesk", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.header__button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
}

.header__avatar-img {
  border: rgba(0, 0, 0, 0.5) 1px solid;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.header__button.hover {
  color: rgba(0, 0, 0, 0.6);
}

.header__registration {
  display: flex;
  gap: 20px;
}

.header__reg-button {
  font-family: "Cabinet Grotesk", serif;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background-color: white;
  padding: 0;
}

.header__reg-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
